// Заголовки, общие БЄМ блоки и проче...
.App {
  position: relative;
  background: #EBEEF3;
  height: 100vh;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  z-index: 50;
}
.mt26 {
  margin-top: 26px;
}