@use 'sass:math';
@import '../../assets/scss/base/mixins.scss';

.formIn {
  margin-top: 21px;
  label {
    display: block;
    font-weight: 500;
    font-size: rem(14);
    line-height: math.div(22, 14);
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}
