.checkbox {
  margin-top: 21px;
  border-top: 1px solid #E8E8E8;
  position: relative;
  &:not(:last-child) {
    margin-bottom: em(5);
  }
  // .checkbox__input
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    &:checked + .checkbox__label:before {
      color: $white;
      border: 1px solid #1890FF;
      background-color: #1890FF;
      background-image: url('../../../img/icons/check.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 10px 8px;
    }
  }
  // .checkbox__label
  &__label {
    padding-top: 8px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
    gap: 8px;
    &.checkError:before {
      border: 1px solid #F5222D;
    }
    &:before {
      content: "";
      align-self: flex-start;
      flex: 0 0 16px;
      width: 16px;
      height: 16px;
      border: 1px solid #a7a9ac;
      border-radius: 2px;
    }
  }
  // .checkbox__text
  &__text {
    font-family: 'Roboto';
    font-size: rem(14);
    color: #595959;
  }
}
