@use 'sass:math';
@import '../../assets/scss/base/mixins.scss';

.header {
  background-color: $white;
  &__wrapper {
    padding: 16px 0px 13px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    font-size: rem(18);
    line-height: math.div(28, 18);
  }
  &__login {
    display: flex;
    align-items: center;
    column-gap: 19px;
  }
}
.signUp {
  cursor: pointer;
  width: 109px;
  height: 51px;
  border: 1px solid $green;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $green;
}