@use 'sass:math';
@import '../../assets/scss/base/mixins';

.articlePage {
  padding: 26px 0px 17px 0px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 26px;
  }
}